@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize/light";
@import "open-props/buttons/light";

:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  accent-color: var(--cyan-8);
  color-scheme: light;
  color: var(--text-2);
  background-color: var(--surface-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  :where(:not(:active):focus-within) {
      transition-duration: 0.25s;
  }

}

@media (prefers-reduced-motion: no-preference) {
  :where(:focus-within) {
      transition: outline-offset 145ms var(--ease-2);
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

:where(h2) {
  font-size: var(--font-size-fluid-2);
}

:where(h3) {
  font-size: var(--font-size-fluid-1);
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.skip-content {
    background-color: var(--surface-1);
    border-radius: 0.75rem;
    color: var(--text-1);
    display: block;
    height: 1px;
    right: -10000px;
    overflow: hidden;
    padding: 0.75rem 1.5rem;
    position: absolute;
    top: auto;
    width: 1px;
    z-index: 9999;
}

.skip-content:focus {
    right: 30px;
    top: 30px;
    height: auto;
    overflow: visible;
    width: auto;
}

.hero {
  background: var(--cyan-11);
  padding: var(--size-fluid-5) var(--size-fluid-3);
  width: 100vw;
}

.hero h1 {
  color: var(--gray-2);
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  text-transform: uppercase;
}

.search {
  display: grid;
  gap: var(--size-fluid-1);
}

.wrapper {
  align-items: start;
  display: grid;
  gap: var(--size-4);
  padding: var(--size-4);
  position: relative;

  @media screen and (min-width: 776px) {
    grid-template-columns: minmax(10rem, 30vw) auto;
    grid-template-rows: max-content auto;
  }
}

.header {
    background: var(--surface-2);
    display: grid;
    gap: var(--size-4);
    padding: var(--size-fluid-2) var(--size-fluid-3);

    @media screen and (min-width: 776px) {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
    }
}

.sidebar {
  align-items: start;
  display: grid;
  gap: var(--size-6);

  @media screen and (min-width: 776px) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

.content {
  display: grid;
  gap: var(--size-6);

  @media screen and (min-width: 776px) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}

.search__wrapper {
  align-items: center;
  background: var(--surface-1);
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--gray-4);
  display: grid;
  gap: var(--size-2);
  grid-template-columns: max-content auto;
  padding: var(--size-2);
}

.search__icon {
  height: auto;
  width: var(--size-6);

  svg {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.search__input {
  background: var(--surface-1);
}

details {
  box-shadow: var(--shadow-3);
}

details summary::-webkit-details-marker { display:none; }

details summary {
  display: grid;
  grid-template-columns: auto var(--size-fluid-3);
}

.detailsIcon {
  display: grid;
  place-items: center;
}

.detailsIcon__icon {
  grid-area: 1 / 1 / 1 / 1;
  transition: opacity 150ms var(--ease-out-3);

  &.-iconOpen {
    details & {
      opacity: 0;
    }

    details[open] & {
      opacity: 1;
    }
  }

  &.-iconClosed {
    details & {
      opacity: 1;
    }

    details[open] & {
      opacity: 0;
    }
  }
}

:where(fieldset) {
  border: none;
}

:where(.radio, .checkbox) {
  align-items: center;
  display: grid;
  gap: var(--size-3);
  grid-template-columns: max-content auto;
}

.content__resultsList {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content__resultStatus {
  border: var(--border-size-2) solid var(--surface-2);
  border-radius: var(--radius-2);
  font-size: var(--font-size-fluid-4);
  font-weight: var(--font-weight-6);
  padding: var(--size-4);
}

.article {
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-5);
  display: grid;
  grid-template-rows: max-content auto;
  overflow: clip;
  position: relative;
  transition: transform 200ms var(--ease-elastic-1);

  &:focus-within {
    outline: 3px solid var(--brand, var(--link));
    outline-offset: 5px;
  }

  &:hover {
    transform: translateY(-8px);
  }
}

.article__content {
  grid-row: 2 / span 1;
  padding: var(--size-4);
}

.article__media {
  aspect-ratio: 1.25;
  background: var(--surface-4);
  grid-row: 1 / span 1;
}

.article__link {
  color: var(--text-1);

  &::after {
    content: '';
    inset: 0;
    position: absolute;
  }

  &:hover {
    color: var(--text-1);
  }

  &:focus-visible {
    outline: none;
  }
}

.article__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.article__name {
  font-size: var(--font-size-fluid-1);
}